.wrapper {
  z-index: 1;
  width: 60vw;
  display: flex;
  justify-content: center;
}

.cons-dir-cerc {
  position: relative;
  height: 500px;
  width: 500px;
  background: url('../img/cerc.svg');
  background-size: cover;
  overflow: visible;
}

.cons-dir-cerc>* {
  position: absolute;
  text-align: center;
  margin: 0;
  font-size: 1.1rem;
}

.cons-dir-cerc>a {
  text-decoration: none;
}

.cons-dir-cerc>a:hover {
  text-decoration: underline;
}

.cons-dir-cerc span {
  font-size: 1rem;
}

#centru {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#r1 {
  top: 10%;
  left: 120px;
  transform: translateY(-50%);
}

#r2 {
  top: 10%;
  right: 120px;
  transform: translateY(-50%);
}

#r3 {
  top: 23.3%;
  left: 50px;
  transform: translateY(-50%);
}

#r4 {
  top: 23.3%;
  right: 50px;
  transform: translateY(-50%);
}

#r5 {
  top: 36.6%;
  transform: translateY(-50%);
  left: 20px;
}

#r6 {
  top: 36.6%;
  right: 20px;
  transform: translateY(-50%);
}

#r7 {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

#r8 {
  bottom: 50%;
  right: 0;
  transform: translateY(50%);
}

#r9 {
  bottom: 36.6%;
  left: 20px;
  transform: translateY(50%);
}

#r10 {
  bottom: 36.6%;
  right: 20px;
  transform: translateY(50%);
}

#r11 {
  bottom: 23.3%;
  left: 50px;
  transform: translateY(50%);
}

#r12 {
  bottom: 23.3%;
  right: 50px;
  transform: translateY(50%);
}

#r13 {
  bottom: 10%;
  left: 115px;
  transform: translateY(50%);
}

#r14 {
  bottom: 10%;
  right: 115px;
  transform: translateY(50%);
}

.cons-dir-list {
  display: none;
  width: 90%;
  margin-bottom: 30px;
  padding: 0;
}

.cons-dir-list>li {
  position: relative;
  background-color: var(--primary-color-transparent);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 7px 20px;
  margin-bottom: 10px;
  height: 90px;
}

.cons-dir-list>li>img {
  border-radius: 50%;
  width: 70px;
  height: auto;
  margin-right: 15px;
}

.cons-dir-list>li>.wrapper {
  display: flex;
  flex-direction: column;
}

.cons-dir-list>li>.wrapper>* {
  margin: 7px 0;
}

.cons-dir-list>li>.wrapper>.nume {
  color: rgba(255, 255, 255, 0.7);
}

.cons-dir-list>li>svg {
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.cons-dir-list>li>svg>g {
  fill: var(--text-color);
}

@media only screen and (min-width: 2100px) {

  .cons-dir-cerc {
    width: 600px;
    height: 600px;
  }
}

@media only screen and (min-width: 2400px) {

  .cons-dir-cerc {
    width: 800px;
    height: 800px;
  }

  #r1,
  #r13 {
    left: 180px;
  }

  #r2,
  #r14 {
    right: 180px;
  }
}

@media only screen and (min-width: 3500px) {

  .cons-dir-cerc {
    width: 1000px;
    height: 1000px;
  }

  #r1,
  #r13 {
    left: 220px;
  }

  #r2,
  #r14 {
    right: 220px;
  }
}

@media only screen and (max-width: 1000px) {
  .cons-dir-cerc {
    width: 400px;
    height: 400px;
  }

  .cons-dir-cerc>a {
    font-size: 1rem;
  }

  #r1 {
    left: 95px;
  }

  #r2 {
    right: 95px;
  }

  #r11 {
    left: 40px;
  }

  #r12 {
    right: 40px;
  }

  #r13 {
    left: 80px;
  }

  #r14 {
    right: 80px;
  }
}

@media only screen and (max-width: 900px) {
  main {
    padding-top: var(--header-height-mobile);
    min-height: calc(100vh - var(--header-height-mobile) - var(--footer-height));
  }
}

@media only screen and (max-width: 730px) {
  main {
    flex-direction: column;
  }

  .wrapper {
    width: auto;
  }

  .cons-dir-cerc {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 420px) {
  .cons-dir-cerc {
    display: none;
  }

  .cons-dir-list {
    display: block;
  }
}