body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../img/background.jpg');
  background-position: center 20%;
}

@media only screen and (min-width: 1921px) {
  body {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('../img/background4K.jpg'),
      linear-gradient(0deg, rgba(11, 39, 75, 1) 0%, rgba(7, 58, 121, 1) 100%);
    background-position: center;
    background-repeat: no-repeat;
  }
}

main {
  flex-direction: column;
}

.hero-title,
.hero-text {
  width: 80%;
  text-align: center;
}

.hero-title {
  font-size: 3.5rem;
  font-weight: 500;
}

.hero-text {
  font-size: 1.5rem;
  font-weight: 300;
}

.carousel-wrapper {
  width: 70vw;
  margin: 50px auto;
}

.flickity-prev-next-button {
  top: 95px;
  width: 2rem;
  height: 2rem;
}

.carousel-cell {
  width: 33.33%;
}

.carousel-cell a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.carousel-cell img {
  width: 15rem;
  height: auto;
}

.carousel-cell figcaption {
  height: 50px;
}