body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../img/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center 20%;
}

@media only screen and (min-width: 1921px) {
  body {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('../img/background4K.jpg'),
      linear-gradient(0deg, rgba(11, 39, 75, 1) 0%, rgba(7, 58, 121, 1) 100%);
    background-position: center;
    background-repeat: no-repeat;
  }
}

main {
  justify-content: space-between;
}

.right-textbox img {
  width: 200px;
  height: auto;
}

.right-textbox ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.right-textbox ul li {
  margin: 5px 15px;
}

.right-textbox ul li:last-of-type::before {
  content: "";
  display: inline-block;
  background-image: url(../icons/facebook-messenger.svg);
  height: 1.2rem;
  width: 1.2rem;
  background-size: 1.2rem 1.2rem;
  background-repeat: no-repeat;
  padding-right: 5px;
  vertical-align: text-top;
  position: relative;
  top: 0.3rem;
}

.carousel-wrapper {
  width: 80%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.carousel,
.carousel .flickity-viewport {
  min-height: 120px !important;
}

.flickity-prev-next-button {
  width: 2rem;
  height: 2rem;
}

.carousel-cell {
  width: 25%;
}

.carousel-cell>img {
  width: 100px;
  height: auto;
}

@media only screen and (min-width: 2100px) {
  .carousel-cell>img {
    width: 125px;
    height: auto;
  }
}

@media only screen and (min-width: 2400px) {
  .carousel-cell>img {
    width: 150px;
    height: auto;
  }
}

@media only screen and (min-width: 3500px) {
  .carousel-cell>img {
    width: 200px;
    height: auto;
  }
}

@media only screen and (max-width: 1280px) {
  .carousel-cell {
    width: 33.33%;
  }
}

@media only screen and (max-width: 940px) {
  main {
    flex-direction: column;
  }

  .textbox {
    margin: 0;
    width: 100vw !important;
    border-radius: 0;
    align-items: center;
    min-height: 200px;
    margin-bottom: 70px;
  }


  .carousel-cell {
    width: 25%;
  }

  .textbox>* {
    width: 80%;
  }
}

@media only screen and (max-width: 640px) {
  .carousel-cell {
    width: 33.33%;
  }
}

@media only screen and (max-width: 500px) {
  .carousel-cell>img {
    width: 75px;
    height: auto;
  }

  .flickity-prev-next-button.next,
  .flickity-prev-next-button.previous {
    top: 40%;
  }

  .flickity-prev-next-button.next {
    right: -30px;
  }

  .flickity-prev-next-button.previous {
    left: -30px;
  }
}
