body {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('../img/background.jpg');
}

h2 {
    font-weight: bold;
    text-decoration: underline;
}

main, .main-carousel {
    width: 100%;
}

.carousel-cell {
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.3);
    margin: 2rem;
}

.carousel-cell .pure-g > div {
    padding: 1rem;
    box-sizing: border-box;
}

.project-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
