body {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url('../img/background.jpg');
  background-position: center 20%;
}

main {
  min-height: calc(100vh - var(--header-height-desktop) - var(--footer-height));
  display: flex;
  align-items: center;
}

.wrapper {
  z-index: 1;
  width: 60vw;
  display: flex;
  justify-content: center;
}

.structura-cerc {
  position: relative;
  height: 500px;
  width: 500px;
  background: url('../img/cerc.svg');
  background-size: cover;
  overflow: visible;
}

.structura-cerc>* {
  position: absolute;
  text-align: center;
  margin: 0;
  font-size: 1.1rem;
}

.structura-cerc>a {
  text-decoration: none;
}

.structura-cerc>a:hover {
  text-decoration: underline;
}

.structura-cerc span {
  font-size: 1rem;
}

#centru {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#r1 {
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#r2 {
  top: 27.5%;
  left: 50px;
  transform: translateY(-50%);
}

#r3 {
  top: 27.5%;
  right: 50px;
  transform: translateY(-50%);
}

#r4 {
  top: 50%;
  transform: translateY(-50%);
}

#r5 {
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

#r6 {
  bottom: 27.5%;
  left: 50px;
  transform: translateY(50%);
}

#r7 {
  bottom: 27.5%;
  right: 50px;
  transform: translateY(50%);
}

#r8 {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.structura-list {
  display: none;
  width: 90%;
  margin-bottom: 30px;
  padding: 0;
}

.structura-list>li {
  position: relative;
  background-color: var(--primary-color-transparent);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 7px 20px;
  margin-bottom: 10px;
  height: 90px;
}

.structura-list>li>img {
  border-radius: 50%;
  width: 70px;
  height: auto;
  margin-right: 15px;
}

.structura-list>li>.wrapper {
  display: flex;
  flex-direction: column;
}

.structura-list>li>.wrapper>* {
  margin: 7px 0;
}

.structura-list>li>.wrapper>.nume {
  color: rgba(255, 255, 255, 0.7);
}

.structura-list>li>svg {
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.structura-list>li>svg>g {
  fill: var(--text-color);
}

@media only screen and (max-width: 1000px) {
  .structura-cerc {
    width: 400px;
    height: 400px;
  }

  .structura-cerc>a {
    font-size: 1rem;
  }

  #r2,
  #r6 {
    left: 30px;
  }

  #r3,
  #r7 {
    right: 30px;
  }
}

@media only screen and (max-width: 900px) {
  main {
    padding-top: var(--header-height-mobile);
    min-height: calc(100vh - var(--header-height-mobile) - var(--footer-height));
  }
}

@media only screen and (max-width: 730px) {
  main {
    flex-direction: column;
  }

  .wrapper {
    width: auto;
  }

  .structura-cerc {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 420px) {
  .structura-cerc {
    display: none;
  }

  .structura-list {
    display: block;
  }
}