/* GENERAL RULES */

:root {
  font-size: 16px;

  --primary-color: #073A79;
  --primary-color-transparent: rgba(7, 58, 121, 0.7);
  --accent-color: hsl(213, 50%, 10%);
  --accent-color-transparent: hsla(213, 50%, 10%, 0.6);
  --text-color: #fff;

  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
}

@font-face {
  font-family: 'Galano Grotesque';
  src: url(../fonts/Galano\ Grotesque\ Semi\ Bold.otf);
  font-weight: 400;
}

@font-face {
  font-family: 'Galano Grotesque';
  src: url(../fonts/Galano\ Grotesque\ Alt\ Bold.otf);
  font-weight: bold;
}

* {
  font-family: 'Galano Grotesque';
  font-weight: 400;
  color: var(--text-color);
}

body {
  min-height: 100vh;
  position: relative;
}

main {
  padding-bottom: 2.5rem;
  /* dimensiunea footer-ului */
}

.collapsed {
  transform: scaleY(0) !important;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color-transparent);
  position: relative;
}

.logo-placeholder {
  margin: 0;
  font-size: 1.4rem;
}

.header-nav {
  z-index: 9999;
  transition: transform 0.5s ease-in-out;
  transform: scaleY(1);
  transform-origin: top;
}

.pure-menu-link {
  font-size: 1.4rem;
  padding: 1rem 1rem 1.3rem 1rem;
  vertical-align: middle;
  color: #b1b1b1;
}

.pure-menu-link:hover {
  background-color: transparent;
  color: var(--text-color);
}

.pure-menu-children {
  background-color: var(--primary-color-transparent);
}

.header-divider {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  overflow: hidden;
  /* line-height: 0; */
}

.header-divider svg {
  position: relative;
  display: block;
  width: 100%;
  height: 20px;
  /* transform: rotateY(180deg); */
}

.header-divider .shape-fill {
  fill: var(--primary-color-transparent);
}

@media only screen and (max-width: 576px) {
  header {
    height: 70px;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
  }

  header,
  .pure-menu-link {
    background-color: var(--primary-color);
  }

  .pure-menu-link:hover {
    background-color: var(--primary-color);
  }

  .header-divider {
    display: none;
  }

  .header-nav {
    position: fixed;
    top: 70px;
    left: 0;
  }

  .header-menu-btn {
    position: absolute;
    left: 20px;
  }

  .header-menu-btn>g {
    stroke: var(--text-color);
  }
}

/* FOOTER */
footer {
  background-color: var(--primary-color-transparent);
  display: flex;
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

footer>svg {
  padding: 0 10px;
}

footer>svg>g {
  stroke: var(--text-color);
}